{% extends 'base.html' %}

{% block title %}Lista de Heróis{% endblock %}

{% block content %}
<h2 class="mb-4">Heróis cadastrados</h2>

<div class="row">
{% for hero in herois %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ hero.codinome }}</h5>
        <p class="card-text">{{ hero.poder_principal }}</p>
        <small class="text-muted">{{ hero.cidade }}</small>
      </div>
    </div>
  </div>
{% empty %}
  <p>Nenhum herói encontrado.</p>
{% endfor %}
</div>
{% endblock %}
