{% extends 'base.html' %}

{% block title %}Lista de Heróis{% endblock %}

{% block content %}
<h2 class="mb-4">Posts</h2>
{% for post in posts %}
<div class="container-cards">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.autor }}</h5>
            <p class="card-text">{{ post.mensagem }}</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Curtir</a>
            <a href="#" class="card-link">Comentar</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}